@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');



body {
  margin: 0;
  font-family: 'Special Elite', Monospace, serif;
  text-align: center;
  background-image: url('./posters.jpg');
}

h1, h2, h3 {
  font-weight: 200;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
